adium-theme-ubuntu==0.3.4
ansible==2.3.1.0
appdirs==1.4.3
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==2.0.0
certifi==2017.4.17
chardet==2.3.0
configparser==3.5.0
cryptography==1.2.3
cycler==0.10.0
decorator==4.0.11
dj-database-url==0.4.2
Django==1.11.1
django-cors-headers==2.0.2
django-filters==0.2.1
django-jet==1.0.6
djangorestframework==3.6.3
duplicity==0.7.6
ecdsa==0.13
entrypoints==0.2.3
enum34==1.1.2
eyeD3==0.8
functools32==3.2.3.post2
future==0.16.0
gunicorn==19.7.1
h5py==2.7.0
hmmlearn==0.2.0
html5lib==0.999999999
httplib2==0.9.1
hyperas==0.3
hyperopt==0.1
idna==2.0
imbalanced-learn==0.2.1
imblearn==0.0
ipaddress==1.0.16
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipywidgets==6.0.0
Jinja2==2.9.6
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.0.5
lockfile==0.12.2
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
nbconvert==5.2.1
nbformat==4.3.0
ndg-httpsclient==0.4.0
networkx==1.11
newrelic==2.90.0.75
nltk==3.2.3
nose==1.3.7
notebook==5.0.0
numpy==1.22.0
packaging==16.8
PAM==0.4.2
pandocfilters==1.4.1
paramiko==1.16.0
pathlib==1.0.1
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.1.2
prompt-toolkit==1.0.14
psycopg2==2.7.1
ptyprocess==0.5.2
pyasn1==0.1.9
pyAudioAnalysis==0.1.3
pycrypto==2.6.1
pycurl==7.43.0
Pygments==2.2.0
pygobject==3.20.0
pygpgme==0.3
pyinotify==0.9.6
pymongo==3.4.0
pyOpenSSL==0.15.1
pyparsing==2.2.0
python-apt==1.1.0b1
python-cloudfiles==1.7.10
python-dateutil==2.6.0
python-speech-features==0.5
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.14.2
scandir==1.5
scikit-learn==0.18.1
scipy==0.19.0
scour==0.32
simplegeneric==0.8.1
simplejson==3.11.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
terminado==0.6
testpath==0.3.1
textblob==0.12.0
Theano==0.9.0
tornado==4.5.1
traitlets==4.3.2
urllib3==1.13.1
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==3.3.0
widgetsnbextension==2.0.0
